.forgot-password-container {
    background-image: url("https://png.pngtree.com/background/20210714/original/pngtree-music-background-big-data-particle-flow-visualization-science-infographic-futuristic-illustration-picture-image_1226606.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.form-group {
    width: 100%;
}

mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color:  #00ace6;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #00FFFF !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #00FFFF !important;
} 
::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #00FFFF !important;
}
