<div class="container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Login!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field class="full-width">
            <input [(ngModel)]="userData.email" name="email" type="email" matInput placeholder="Email" />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input [(ngModel)]="userData.password" matInput name="password" type="password" placeholder="Password" />
          </mat-form-field>
  
          <button (click)="login()" mat-raised-button color="primary" class="full-width">Login</button>
        </form>
        <p class="signup_link">Don't have an account? <a routerLink="/signup">Sign up</a></p>
        <p class="forgot-password" ><a routerLink="/forgot-password">Forgot Password?</a></p>
      </mat-card-content>
    </mat-card>
</div>
  